.navbar{
    width: 100%;
    height: 15%;
    background-color: #C1DAE8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #333333;
    padding: 50px;
}
.hamburger{
    display: none;
}
.navbar img{
    width: 60px;
    height: 60px;
    border-radius: 16px;
}
.logo{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.title{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content: center;
    text-align: left;
}
.title p{
    color: #203C60;

}
.nav-links{
    width: 50%;
    height: 100%;
    display: flex;
}
.nav-links ul{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
}
.nav-links ul li a{
    text-decoration: none;
    color:  #65636F;
    font-weight: 600;

}
.nav-links ul li a:hover{
    color: #333333;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .navbar{
    width: 100%;
    height: 15%;
    background-color: #C1DAE8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    padding: 50px;
}
.hamburger{
    display: block;
    position: absolute;
    left: 3%;
}
.navbar img{
    width: 60px;
    height: 60px;
    border-radius: 16px;
}
.logo{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.title{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content: center;
    text-align: left;
}
.title p{
    color: #203C60;
    width: 100%;

}
.nav-links{

    display: none;
}


}