.card{
    min-width: 25%;
    height: 85%;
    
}
.card p{
    font-size: .7rem;
}
.header{
    width: 100%;
    height: 40%;
    background: #203C60;
    border-radius: 25px 25px 0px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: left;
    padding: 10px;
    gap: 10px;
}
.body{
    width: 100%;
    height: 60%;
    background: #d5d5d5;
    border-radius: 0px 0px 20px 20px;
    color: #203C60;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* justify-content: center; */
    text-align: left;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* overflow-y: scroll; */
}


@media only screen and (max-width: 768px) {
    .card{
    min-width: 75%;
    height: 85%;
    
}
.card p{
    font-size: .7rem;
}
.header{
    width: 100%;
    height: 40%;
    background: #203C60;
    border-radius: 25px 25px 0px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: left;
    padding: 10px;
    gap: 10px;
}
.body{
    width: 100%;
    height: 60%;
    background: #d5d5d5;
    border-radius: 0px 0px 20px 20px;
    color: #203C60;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* justify-content: center; */
    text-align: left;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* overflow-y: scroll; */
}
}